* {
  margin:0;
  padding:0;
}
body {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
}

#header {
  position: absolute;
  top: 0;
  height: 65px;
  background:#fff;
  width:100%;
  z-index:1;
}

#nav {
 width:80%;
 }
.menu {
  max-width:700px;
  list-style:none;
  margin:0 auto;
  line-height: 65px;
}
.menu li {
  display:inline-block;
  margin-right:20px;
}

.menu li a {
  letter-spacing: .1em;
  padding: 31px 0 19px;
  color: rgba(0,0,0,0.6);
  white-space:nowrap;
  font-size:11px;
  text-transform:uppercase;
  font-weight:400;
}

.menu li a:hover {
  color: rgba(0,0,0,0.9);
}

.active {
  border-bottom:2px rgba(0,0,0,0.8) solid;
}

.button .icon {
  line-height: 100%;
}

.icon {
  font-family: 'medium-icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button .icon:before {
  margin-right: 0px !important;
  font-size: 20px;
  line-height: 2 !important;
  position: relative;
  top: 1px;
  color: rgba(0,0,0,0.8) !important;
}

.icon--search:before {
  content: "\f15f";
}

a {
  text-decoration:none;
  color:inherit;
}

.button {
  display: inline-block;
  position: relative;
  height: 38px;
  padding: 0 14px !important;
  outline: 0;
  color: rgba(0,0,0,0.44);
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  vertical-align: bottom;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  vertical-align:top;
  margin-top:14px;
  line-height:38px;
}

.button:hover {
  color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.3);
}

.buttonPrimary {
  border-color: #a9d8b2 !important;
  color: #57ad68 !important;
  margin-right:8px;
}

.buttonPrimary:hover {
  background: rgba(0,0,0,0) !important;
  border-color: #57ad68 !important;
  color: #468c54;
}
#content {
  padding-top:75px;
}
.leftcontent {
  width:80%;
  height:auto;
  position:fixed;
}
.rightcontent {
  width:20%;
  height:auto;
}

.layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}

.layoutSingleColumn .contentTitle {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  font-size: 24px;
  padding-bottom: 5px;
}

.button-circle                                    { background-color: rgba(255,255,255,0.97) !important; border-color: rgba(0,0,0,0.05); }
.list-index                                       { color: rgba(0,0,0,0.8); font-size: 12px; font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; letter-spacing: -0.02em;
                                                    font-weight: 700; font-style: normal; }

.icon                                             { line-height: 35px; }

.titleContentSide {
  width: 80%;
}
.imagepost {
  width:20%;
}
.blockcontent {
  position: relative;
  padding: 25px 0 32px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  line-height: 1.1;
}

.block-snippet                                    { font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; letter-spacing: -0.02em; font-weight: 300; font-style: normal; }

.imageContainer {
  display: block;
  width: 138px;
  height: 120px;
  margin: 2px 0 0 20px;
  border: 1px solid rgba(0,0,0,0.05);
  background-color: #f0f0f0;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}

.sidebar {
  box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9);
  top: 65px;
  width: 400px !important;
  padding: 0 30px 60px;
  background-color: #fafafa;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
.sidebar-wrapper {
  width: 340px;
  padding-top: 40px;
}

.top-story-list {
  padding-top:55px;
}

.list-story {
  margin-bottom: 40px;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.list-story li {
  list-style:none;
  padding: 0;
  /*margin: 18px 0 0;*/
  letter-spacing: 0;
  display: block;
}
.list-title {
  padding-top: 15px;
  margin: -1px 0 15px;
  border-top: 1px solid rgba(0,0,0,0.44);
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform:uppercase;
}

.list-title_link {
  float: right;
  border: 0;
  font-weight: 400;
  color: rgba(0,0,0,0.3);
  font-size: 11px;
  letter-spacing: .1em;
  padding-top: 15px;
  text-transform: uppercase;
}

.list-title_link:hover {
  color: rgba(0,0,0,0.44);
}

.item-info {
  display: block;
  float: none;
  width: auto;
  margin-left: 55px;
  /*padding-bottom: 18px;*/
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-top: -40px;
}

h1, h2, h3, h4 {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
}

.item-info h3 a {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  font-weight: 400;
  max-width: 96%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:inherit;
}

.item-info p a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 0;
  color: rgba(0,0,0,0.3);
}

.item-info p a:hover {
  color: rgba(0,0,0,0.6);
}

.border_shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

.clearBoth {
  clear:both;
  height:0px;
  width:0px;
}
.block_post {
  margin-top:10px;
}
.avatar_image {
  width:40px;
  height:40px;
}

.blockspan {
  display:block;
}

.darkenlink {
 
}
.metapost {
  color:rgba(0,0,0,0.3);
  font-size: 14px;
  line-height: 1.4;
  padding-left: 10px;
}
.linkcolor {
    color:#57ad68;
}

.linkcolor:hover {
  color:#468c54;
}

.item-info:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.is-active {
  font-weight:700 !important;
  color:rgba(0,0,0,0.8) !important;
}

#searchbox {
  position: fixed;
  right: 0;
}

.button-search-icon                                           { padding: 0px 12px !important; }

.button, .button.button--truncated .icon                      { line-height: 35px !important; }
