* {
  margin:0;
  padding:0;
}
body {
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  line-height: 1.4;
}

#header {
  position: absolute;
  top: 0;
  height: 65px;
  background:#fff;
  width:100%;
  line-height:65px;
}

#nav {
  width:80%;
}
.menu {
  max-width:700px;
  list-style:none;
  margin:0 auto;
}
.menu li {
  display:inline-block;
  margin-right:20px;
}

.menu li a {
  letter-spacing: .1em;
  padding: 31px 0 19px;
  color: rgba(0,0,0,0.6);
  white-space:nowrap;
  font-size:11px;
  text-transform:uppercase;
  font-weight:400;
}

.menu li a:hover {
  color: rgba(0,0,0,0.9);
}

#searchbox {
}

a {
  text-decoration:none;
  color:inherit;
}

.button {
  display: inline-block;
  position: relative;
  height: 38px;
  padding: 0 16px;
  outline: 0;
  color: rgba(0,0,0,0.44);
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  vertical-align: bottom;
  white-space: nowrap;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  vertical-align:top;
  margin-top:14px;
  line-height:38px;
}

.button:hover {
  color: rgba(0,0,0,0.6);
  border-color: rgba(0,0,0,0.3);
}

.buttonPrimary {
  border-color: #a9d8b2;
  color: #57ad68;
  margin-right:8px;
}

.buttonPrimary:hover {
  background: rgba(0,0,0,0);
  border-color: #57ad68;
  color: #468c54;
}
#content {
  padding-top:75px;
}
.leftcontent {
  width:80%;
  height:auto;
  position:fixed;
  z-index:1;
}
.rightcontent {
  width:20%;
  height:auto;
}

.layoutSingleColumn {
  width: 700px;
  margin: 0 auto;
}

.layoutSingleColumn .contentTitle {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  line-height: 1.3;
  font-size: 24px;
}

.titleContentSide {
  width:540px;
}

.blockcontent {
  position: relative;
  padding: 25px 0 32px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  line-height: 1.1;
}

.blockSnippet {
  display: block;
  margin: 2px 0 0;
  line-height: 1.4;
  font-size: 18px;
  margin-left: -0.9px;
}

.imageContainer {
  display: block;
  width: 138px;
  height: 120px;
  margin: 2px 0 0 20px;
  border: 1px solid rgba(0,0,0,0.05);
  background-color: #f0f0f0;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}
.border_shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.floatLeft {
  float:left;
}

.floatRight {
  float:right;
}

.clearBoth {
  clear:both;
  height:0px;
  width:0px;
}
